<div class="component">
  <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label
        ><span i18n>{{ "HOME.NAMEF" | translate }}</span></mat-label
      >
      <input type="text" matInput formControlName="firstname" />
    </mat-form-field>

    <div>
      <mat-form-field appearance="fill">
        <mat-label
          ><span i18n>{{ "HOME.NAMEL" | translate }}</span></mat-label
        >
        <input type="text" matInput formControlName="lastname" />
      </mat-form-field>
    </div>

    <button mat-raised-button class="button" type="submit" color="primary">
      <mat-icon>payment</mat-icon>
      <span i18n>{{ "HOME.ORDERNOW" | translate }}</span>
    </button>
  </form>
</div>
