<div class="component">
    <div class="cart-item-list">
    

      <mat-list>
        <mat-list-item *ngFor="let ticket of tickets">
          <mat-divider></mat-divider>
          <div matListAvatar class="movie-image" style="background-image: url('{{ ticket.getMovieScreening().getMovie().getImageUrl() }}')"></div>

           <div mat-line>
            <span>{{ticket.getMovieScreening().getMovie().getName()}}</span>
          </div>

            <div mat-line>{{ticket.getMovieScreening().getDatetime() | date: "short"}} </div>

                <span>{{ticket.getMovieScreening().getMovie().getPrice() | currency: "EUR"}}</span>
                <span><button mat-button>
                  <mat-icon>remove_circle</mat-icon>
                </button></span>
    </mat-list-item>
  </mat-list>

        <button mat-button (click)="showCheckoutForm()">
            <span i18n>Checkout cart</span>
        </button>

        <div>


            <form [formGroup]="checkOutForm" >

                <div>
                  <label for="firstname">
                    <span i18n>First Name</span>
                  </label>
                  <input id="firstname" type="text" formControlName="firstname">
                </div>
                <div>
                    <label for="lastname">
                      <span i18n>Last Name</span>
                    </label>
                    <input id="lastname" type="text" formControlName="lastname">
                </div>
                <div>
                    <label for="email">
                      <span i18n>Email</span>
                    </label>
                    <input id="email" type="email" formControlName="email">
                </div>
                <div>
                    <label for="creditCard">
                      <span i18n>CreditCard</span>
                    </label>
                    <input id="creditCard" type="text" formControlName="name">
                </div>
                <div>
                    <label for="pin">
                      <span i18n>PIN</span>
                    </label>
                    <input id="pin" type="password" formControlName="pin">
                </div>
              
                
              
                <button class="button" type="submit">Purchase</button>
              
              </form>


        </div>



    </div>
</div>