<div class="component">
    <div class="cart-item-list">
    

        <table mat-table [dataSource]="tickets">

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let ticket"><div class="image" style="background-image: url('{{ ticket.movieScreening.movie.imageUrl }}')"></div></td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let ticket"> {{ticket.movieScreening.movie.name}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let ticket"> {{ticket.movieScreening.dateTime | date: "short"}} </td>
                <td mat-footer-cell *matFooterCellDef>Total</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let ticket"> {{ticket.movieScreening.movie.price | currency: "EUR"}} </td>
                <td mat-footer-cell *matFooterCellDef>{{total | currency: "EUR"}}</td>
            </ng-container>
        </table>

        <button mat-button (click)="showCheckoutForm()">
            <span i18n>Checkout cart</span>
          </button>

        <div *ngif="checkOutButtonClicked">


        </div>



    </div>
</div>