<mat-toolbar class="toolbar" color="primary">
  <span i18n>TicketShop</span>
  <div class="navbar">
    <a disableRipple="true" mat-button [routerLink]="['/movies']">
      <mat-icon>movie</mat-icon>
      <span>{{ "HOME.TITLE" | translate }}</span>
    </a>
    <a disableRipple="true" mat-button [routerLink]="['/movie-screenings']">
      <mat-icon>theaters</mat-icon>
      <span>{{ "HOME.SCREENINGS" | translate }}</span>
    </a>
  </div>

  <span class="toolbar-spacer"></span>
  <label for="">
    {{ "HOME.SELECT" | translate }}
    <select #langselect (change)="translate.use(langselect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang">
        {{ lang }}
      </option>
    </select>
  </label>

  <button mat-icon-button aria-label="Staff login" [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button aria-label="Shopping cart" [routerLink]="['/cart']">
    <mat-icon
      [matBadge]="badgeContent"
      matBadgeSize="small"
      matBadgePosition="before"
      matBadgeColor="warn"
    >
      shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>

<div class="spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<router-outlet></router-outlet>
