@import "../../styles.scss";
$primary: map-get($custom-theme, primary);

.create-movie-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.movie-image {
  display: inline-block;
  border-radius: 5px !important;
  overflow: hidden;
  width: 44px !important;
  height: 65px !important;
  background-size: cover;
  background-position: center;
  background-color: #666;
  vertical-align: middle;
  margin: 10px;
}
