.movie {
    max-width: 750px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .movie-list {
    margin: 8px;
  }
  
  .movie .image {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
    height: 320px;
    background-size: cover;
    background-position: center;
    background-color: #666;
    vertical-align: middle;
  }
  
  .movie .information {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .movie .information .name {
    font-size: 22px;
    font-weight: bold;
  }
  
  .movie .information .price *,
  .movie .information .duration * {
    vertical-align: middle;
  }
  
  .movie .information .price mat-icon,
  .movie .information .duration mat-icon {
    margin-right: 5px;
  }