<div class="component">
  <div class="movie-list">
    <div class="searchbar-constraint">
      <div class="searchbar">
        <div class="wrapper">
          <mat-icon>search</mat-icon>
          <input #searchQuery (keyup)="search(searchQuery.value)" />
          <mat-icon (click)="search(searchQuery.value)">arrow_forward</mat-icon>
        </div>
      </div>
    </div>
    <mat-card *ngFor="let movie of movies" class="movie">
      <div class="detail">
        <div
          class="image"
          style="background-image: url('{{ movie.imageUrl }}')"
        ></div>
        <div class="information">
          <p class="name">{{ movie.name }}</p>
          <p class="duration">
            <mat-icon>timelapse</mat-icon>
            <span>{{ "HOME.TIME" | translate }}</span>
            <span>{{ movie.duration }}</span>
            <span> min</span>
          </p>
          <p class="price">
            <mat-icon>money</mat-icon>
            <span>{{ "HOME.TPRICE" | translate }}</span>
            <span>{{ movie.price | currency: "EUR" }}</span>
          </p>
        </div>
      </div>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let movieScreening of movie.movieScreenings">
            <mat-divider></mat-divider>
            <span mat-line>{{ movieScreening.datetime | date: "short" }}</span>
            <span mat-line>{{ "HOME.SCREENINGS" | translate }}</span>
            <button mat-button (click)="openSnackBar(movieScreening)">
              <mat-icon>add_shopping_cart</mat-icon>
              <span>{{ "HOME.CART" | translate }}</span>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
