@import '../../styles.scss';
$primary: map-get($custom-theme, primary);

.movie {
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  background-color: transparent;
  box-shadow: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-list {
  margin: 8px;
}

.movie .image {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-color: #666;
  vertical-align: middle;
}

.movie .information {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.movie .information .name {
  font-size: 22px;
  font-weight: bold;
}

.movie .information .price *,
.movie .information .duration * {
  vertical-align: middle;
}

.movie .information .price mat-icon,
.movie .information .duration mat-icon {
  margin-right: 5px;
}

.searchbar-constraint {
  margin-bottom: 40px;
}

.searchbar:hover {
  transform: scale(1.05);
  transition: 0.3s transform;
}

.searchbar {
  margin: auto;
  max-width: 450px;
  width: 100%;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.1);
  border-radius: 25px;
}

.searchbar .wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.searchbar input {
  background-color: transparent;
  color: #fff; 
  margin: 10px 15px 10px 0px;
  border: none;
  font-size: 18px;
  outline: none;
  flex: auto;
}

.searchbar mat-icon {
  flex: 0;
  color: mat-color($primary);
  margin: 10px 10px 10px 10px;
}