/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

@include mat-core();

$custom-theme-primary: mat-palette($mat-red, A400);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red, A700);

$custom-theme: mat-dark-theme(
  (
    color: (
      primary: $custom-theme-primary,
      accent: $custom-theme-accent,
      warn: $custom-theme-warn,
    ),
  )
);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #111;
}

.component {
  margin-top: 100px;
}