<div class="component">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label
          ><span i18n
            ><Var
              ><var>{{ "HOME.USERNAME" | translate }}</var></Var
            ></span
          ></mat-label
        >
        <input type="text" matInput formControlName="username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label
          ><span i18n>{{ "HOME.PASSWORD" | translate }}</span></mat-label
        >
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
    </div>

    <button mat-raised-button class="button" type="submit" color="primary">
      <mat-icon>lock</mat-icon>
      <span i18n>Login</span>
    </button>
  </form>
</div>
